.users {
  margin: 2rem auto;
  width: 90%;
  max-width: 40rem;
}

.users ul {
  list-style: none;
  padding: 1rem;
}

.users li {
  border-bottom: 1px solid #f25042;
  margin: 1rem 0;
  padding: 0.5rem;
}

.wrapperElement {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.wrapperElement p {
  margin: 0;
}

/* TOOLBAR */

.toolbar {
  display: flex;

  align-items: center;
  margin: 2rem auto;
  width: 90%;
  max-width: 40rem;
  background-color: #ccc;
  padding: 15px;
}
