/* TOOLBAR */

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
  width: 90%;
  max-width: 90rem;
  background-color: #ccc;
  padding: 15px;
}

.btn {
  background-color: blueviolet;
}

.formGroup label{
  font-weight: 600;
  margin-right: 10px;
  text-transform: uppercase;
}

.formGroup input {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
}
