/* TOOLBAR */

.toolbar {
  display: flex;

  align-items: center;
  margin: 2rem auto;
  width: 90%;
  max-width: 70rem;
  background-color: #ccc;
  padding: 15px;
}

.btn {
  background-color: blueviolet;
}
